{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
	<header>
		<img class="logo" src="images/logo.svg" />
		<h1><span>cultuur.gif</span><br>technology and design<br> for the cultural sector</h1>
	</header>
  <!-- <h1 data-module="example">{{ message }}</h1> -->
  <div>
<div class="scroll"><span class="segment">Case studies | Case studies |</span><span class="segment">Case studies | Case studies </span></div>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
  <p>{{ sentence }}</p>
  </div>
{% endblock %}
