@import "base/typography";
@import "base/reset";

body {
	margin: 0;
}

header {
	position: relative;
}

.logo {
	position: absolute;
	width: 100px;
	top: 30px;
	left: 30px;
}

h1 {
	position: absolute;
	top: 30%;
}

canvas {
	z-index: -10;
}