@import "base/typography";
@import "base/reset";

@import url("https://use.typekit.net/czs6kfx.css");

$margin-left: 30px;

body {
	margin: 0;
}

header {
	position: relative;
}

.logo {
	position: absolute;
	width: 100px;
	top: $margin-left;
	left: $margin-left;
}

h1 {
  font-family: "source-code-pro", mono;
  font-weight: 300;
  font-size: 34px;
  line-height: 32px;
  color: white;
	position: absolute;
	width: 50%;
	top: 30%;
	left: $margin-left;
}

h1 span { 
	font-weight: 400;
	line-height: 44px;
}

canvas {
	z-index: -10;
}