@import "base/typography";
@import "base/reset";

@import url("https://use.typekit.net/czs6kfx.css");


body {
	margin: 0;
}

header {
	position: relative;
}

.logo {
	position: absolute;
	width: 100px;
	top: 30px;
	left: 30px;
}

h1 {
  font-family: "adobe-caslon-pro", serif;
  color: white;
	position: absolute;
	top: 30%;
}

canvas {
	z-index: -10;
}